/* Prevent scroll on narrow devices */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}
.print-version {
  display: none;
}

html {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
}

@media all {
.page-break	{ display: none; }
}


.always-hide { display: none !important;}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  // color: darken(#6D508B, 30%);
  letter-spacing: -.025rem;
  margin: 10px 0;
  // font-family: inherit;
  // font-weight: bold;
  // line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;

  code {
    background: none;
    font-family: inherit;
  }
}

#stickyTitle.post-title.sticky {
  h1 {
    font-size: 10px;
  }
}
#stickyLinks {
  background: white;
  display: inline-block;
  margin: 10px 0px 0px 0px;
  font-size: 85%;

}

#stickyTitle {
  background: white;
  max-width: 22rem;
}
@media (min-width: 38em) {
  #stickyTitle {
    max-width: 46rem;
  }
}
@media (min-width: 56em) {
  #stickyTitle {
    max-width: 56rem;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.sticky + .content {
  padding-top: 102px;
}
.container h1 {
  font-weight: 500;
  background: white;
}
.container h2 {
  display: block;
  margin-block-start: 0.33em;
  margin-block-end: 0.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.2em;
  color: #000000;
  border-bottom: 1px solid #a1a1a1;
}
.container h1 {
  font-size: 2em;

}
.container h2 {
  font-size: 1.6em;
}

.container h3 {
  font-size: 1.5em;
}

.container h4 {
  font-size: 1.45em;
}

.container h5 {
  font-size: 1.4em;
}

.container h6 {
  font-size: 1.3em;
}


.gallery + em
{
  display: block;
  text-align: center;
  margin-bottom:1.3em;
}

#github-links {
  background: white;
  max-width: 22rem;
}
@media (min-width: 38em) {
  #github-links {
    max-width: 46rem;
  }
}
@media (min-width: 56em) {
  #github-links {
    max-width: 56rem;
  }
}

#github-links {
  // font-family: "PT Sans", Helvetica, Arial, sans-serif;
  // width: auto;
  // display: none;
  // // padding: 4px;
  // float: right;
  // display: inline-block;
  // margin: 10px 0px 0px 0px;
  // font-size: 85%;

  position: fixed;
  // left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  // text-align: center;
  border-top: 1px solid #d3d3d3;
  // border-bottom: none;

  a {
    background: aliceblue;
    font-size: 85%;
    color: #515151;
    border-radius: 5px;
    // border-bottom: 1px solid #c3c3c3;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    text-decoration: none;

    -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,.1);
    -moz-box-shadow: 0px 1px 5px rgba(0,0,0,.1);
    box-shadow: 0px 1px 5px rgba(0,0,0,.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
  }
  .view-source {
    margin-left: auto;
    margin-right: auto;
    display: table;
    font-size: inherit;
    color: #c3c3c3;
    padding: 10px;
    a {
      text-decoration: none;
    }
  }
}

svg {
  fill: #515151;
}

.post-changes {
  padding: 5px;
  margin-bottom: 30px;
  border-bottom: 1px solid #c2c2c2;
  font-size: 85%;
}
.main-heading {

  display: table;
  width: 100%;
  line-height: 20px;
  font-size: 85%;
  color: darker(#c2c2c2, 20%);
  background: aliceblue;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 5px;

  -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,.1);
  -moz-box-shadow: 0px 1px 5px rgba(0,0,0,.1);
  box-shadow: 0px 1px 5px rgba(0,0,0,.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  a {
    color: darker(#c2c2c2, 20%);
  }
}

.main-title {
  display: table-cell;
  /* width: 100px; */
  float: left;
}

.main-title-prefix {
  display: table-cell;
  float: left;
  width: auto;
  padding-right: 5px;

}

.main-commit-message {
  display: table-cell;
  float: left;
  width: 190px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: lowercase;
}

.main-last-date
{
  display: table-cell;
  float: right;
  width : auto;
  font-size: 13px;
  line-height: 20px;
}


.written-by {
  font-size: 13px;
  line-height: 20px;
  float: right;
  margin-top: 10px;
}

.algolia
{
  display: table;
  width: 100%;
  font-size: 13px;
  line-height: 20px;
  border-top: 1px solid #eaecef;
}

.algolia-date {
  display: table-cell;
  float: left;
  width: 70px;
  color: #586069;
  text-align: left;
}
.algolia-title {
  display: table-cell;
  float: left;
  padding-left: 5px;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media all and (max-width: 30em) {
  .algolia-title {
    width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* background-color: #000; */
	/* CSS rules here */
  }
  .algolia-message {
    width: 0px;
  }
}


.algolia-title a {
  color: #000;
  white-space: nowrap;
  /* word-wrap: break-word; */
}

.algolia-message {
  display: table-cell;
  float: left;
  padding-left: 5px;
  width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  margin-right: 3px;
  font-style: italic;
  text-transform: lowercase;
  color: lighten(#586069, 40%);
}

.algolia-modified {
  display: table-cell;
  float: right;
  width: 80px;
  white-space: nowrap;
  text-align: right;
  color: #586069;

  small {
    margin-right: 3px;
    font-style: italic;
    text-transform: lowercase;
    color: lighten(#586069, 30%);
  }
  a {
    color: #586069;
  }
}


.empty-query {
  display: none;
}


::placeholder {
  color: #c3c3c3;
   opacity: .9;

}

.ais-Highlight{
  color: #000;
  background: yellow;

}

.post-link .ais-Highlight {
  font-style: normal;
  text-decoration: underline;
}
.post-snippet .ais-Highlight {
  font-style: normal;
  font-weight: bold;
}
.post-snippet img {
  display: none;
}

.hit-box {
  border-width: 1px;
  border-bottom-color: #f3f3f3;
  padding: 5px 15px 5px 15px;
  margin-bottom: 10px;
  font-size: 13px;
}

#archives h6 {
  margin: 0px;
}

// .container.content h2:before {content: '❯ '}
// .container.content h3:before {content: '❯ '}
// .container.content h4:before {content: '❯ '}
// .container.content h5:before {content: '❯ '}

.table-of-contents{
  /* padding: 5px 0px 5px 10px; */
}
.section-nav {
  font-size: 75%;
  color: #c3c3c3;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 5px 0px 5px 30px;
  border-bottom: #c3c3c3;
  background: aliceblue;
}

.section-nav a{
  color: #030303;
}

/* flashes */

.flash {
    position: relative;
    padding: 16px;
    color: #032f62;
    background-color: #dbedff;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 3px;
}

.flash-success {
    color: #165c26;
    background-color: #dcffe4;
    border-color: rgba(27, 31, 35, 0.15);
}

.flash-error {
    color: #86181d;
    background-color: #ffdce0;
    border-color: rgba(27, 31, 35, 0.15);
}

.flash-warn {
    color: #735c0f;
    background-color: #fffbdd;
    border-color: rgba(27, 31, 35, 0.15);
}

.flash-full {
    margin-top: -1px;
    border-width: 1px 0;
    border-radius: 0;
}

.todo {
      position: relative;
      padding: 16px;
      border-radius: 3px;

      color: #735c0f;
      background-color: #fffbdd;
      border: 1px solid #ffef84;
      margin-bottom: 10px;
}

.exercise {
  position: relative;
  padding: 10px 0px 5px 10px;
  border-radius: 3px;

  color: #735c0f;
  background-color: #fffbdd;
  border: 1px solid #ffef84;
  margin-top:10px;
  margin-bottom: 10px;
}

.proof::first-line {
  font-weight: bold;
  text-transform:capitalize;
}
.proof {
  position: relative;
  padding: 16px;
  border-radius: 3px;
  /* text-align: justify; */
  color: black;
  // background-color: #f3f3f3;
  border: 1px solid #f0f0f0;
  margin-top:10px;
  margin-bottom: 10px;
}

.equation, .eq, .math {
  text-align: -webkit-center;
  margin : 10px;
}
.label, .Label {
    display: inline-block;
    padding: 3px 4px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    border-radius: 2px;
    box-shadow: inset 0 -1px 0 rgba(27, 31, 35, 0.12);
}

.bg-blue {
    background-color: #0366d6 !important;
}

.Label--gray-darker {
    background-color: #6a737d;
}

.Label--gray {
    color: #586069;
    background-color: #eaecef;
}

/*
 * Wrapper
 *
 * The wrapper is used to position site content when the sidebar is toggled. We
 * use an outter wrap to position the sidebar without interferring with the
 * regular page content.
 */

.wrap {
  position: relative;
  width: 100%;
}


/*
 * Container
 *
 * Center the page content.
 */

.container {
  max-width: 28rem;
  border-bottom-color: #333;
  margin-bottom: 5px;
}
@media (min-width: 38em) {
  .container {
    max-width: 42rem;
  }
}
@media (min-width: 56em) {
  .container {
    max-width: 54rem;
  }
}

.commit-message {
  font-size: 13px;
  line-height: 20px;
  text-align: right;
  color: #586069;
  text-transform: lowercase;
}

.modifications {
  font-size: 75%;
  line-height: 20px;
  text-align: right;
  font-weight: bolder;
  float: right;
  width: auto;
  color: darkgrey;
}

.post-modifications {
  font-size: 90%;
  line-height: 20px;
  text-align: right;
  font-weight: bolder;
  width: auto;
  color: darkgrey;
}

.additions {
  color: darker(gray, 50%);
  font-weight: bolder;
}

.substractions {
  color: ligher(gray, 5%);
}
.commit-message a {
  color: #586069;
}

/*
 * Masthead
 *
 * Super small header above the content for site name and short description.
 */

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  // border-bottom: 1px solid #eee;
}
.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #505050;
}
.masthead-title a {
  color: #505050;
}
.masthead-title small {
  font-size: 75%;
  font-weight: 400;
  color: darklategray;
  letter-spacing: 0;
}

@media (max-width: 48em) {
  .masthead-title {
    text-align: center;
  }
  .masthead-title small {
    display: none;
  }
}





/*
 * Posts and pages
 *
 * Each post is wrapped in `.post` and is used on default and post layouts. Each
 * page is wrapped in `.page` and is only used on the page layout.
 */

.page,
.post {
  margin-bottom: 4em;
}

.post-list {
  margin-bottom: 0;
}

/* Blog post or page title */

.page-title,
.post-title,
.post-title a {
  text-decoration: none;
}
.page-title,
.post-title {
  margin-top: 0;
  margin-bottom: 20px;
  // border-bottom: 1px solid #a1a1a1;
}

/* Meta data line below post title */
.post-date {
  display: block;
  margin-top: -.15rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-size: 90%;
}


/* Related posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  color: #268bd2;
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}


/*
 * Pagination
 *
 * Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are no more previous or next posts to show.
 */

.pagination {
  overflow: hidden; /* clearfix */
  margin-left: -1rem;
  margin-right: -1rem;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: #ccc;
  text-align: center;
}

/* Pagination items can be `span`s or `a`s */
.pagination-item {
  display: block;
  padding: 1rem;
  border: 1px solid #eee;
}
.pagination-item:first-child {
  margin-bottom: -1px;
}

/* Only provide a hover state for linked pagination items */
a.pagination-item:hover {
  background-color: #f5f5f5;
}

@media (min-width: 30em) {
  .pagination {
    margin: 3rem 0;
  }
  .pagination-item {
    float: left;
    width: 50%;
  }
  .pagination-item:first-child {
    margin-bottom: 0;
    border-top-left-radius:    4px;
    border-bottom-left-radius: 4px;
  }
  .pagination-item:last-child {
    margin-left: -1px;
    border-top-right-radius:    4px;
    border-bottom-right-radius: 4px;
  }
}


/*
 * Reverse layout
 *
 * Flip the orientation of the page by placing the `.sidebar` and sidebar toggle
 * on the right side.
 */

.layout-reverse .sidebar {
  left: auto;
  right: -14rem;
}
.layout-reverse .sidebar-toggle {
  left: auto;
  right: 1rem;
}

.layout-reverse #sidebar-checkbox:checked ~ .sidebar,
.layout-reverse #sidebar-checkbox:checked ~ .wrap,
.layout-reverse #sidebar-checkbox:checked ~ .sidebar-toggle {
  -webkit-transform: translateX(-14rem);
      -ms-transform: translateX(-14rem);
          transform: translateX(-14rem);
}


/*
 * Themes
 *
 * Apply custom color schemes by adding the appropriate class to the `body`.
 * Based on colors from Base16: http://chriskempson.github.io/base16/#default.
 */

/* Red */
.theme-base-08 .sidebar,
.theme-base-08 .sidebar-toggle:active,
.theme-base-08 #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #ac4142;
}
.theme-base-08 .container a,
.theme-base-08 .sidebar-toggle,
.theme-base-08 .related-posts li a:hover {
  color: #ac4142;
}

/* Orange */
.theme-base-09 .sidebar,
.theme-base-09 .sidebar-toggle:active,
.theme-base-09 #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #d28445;
}
.theme-base-09 .container a,
.theme-base-09 .sidebar-toggle,
.theme-base-09 .related-posts li a:hover {
  color: #d28445;
}

/* Yellow */
.theme-base-0a .sidebar,
.theme-base-0a .sidebar-toggle:active,
.theme-base-0a #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #f4bf75;
}
.theme-base-0a .container a,
.theme-base-0a .sidebar-toggle,
.theme-base-0a .related-posts li a:hover {
  color: #f4bf75;
}

/* Green */
.theme-base-0b .sidebar,
.theme-base-0b .sidebar-toggle:active,
.theme-base-0b #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #90a959;
}
.theme-base-0b .container a,
.theme-base-0b .sidebar-toggle,
.theme-base-0b .related-posts li a:hover {
  color: #90a959;
}

/* Cyan */
.theme-base-0c .sidebar,
.theme-base-0c .sidebar-toggle:active,
.theme-base-0c #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #75b5aa;
}
.theme-base-0c .container a,
.theme-base-0c .sidebar-toggle,
.theme-base-0c .related-posts li a:hover {
  color: #75b5aa;
}

/* Blue */
.theme-base-0d .sidebar,
.theme-base-0d .sidebar-toggle:active,
.theme-base-0d #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #6a9fb5;
}
.theme-base-0d .container a,
.theme-base-0d .sidebar-toggle,
.theme-base-0d .related-posts li a:hover {
  color: #6a9fb5;
}

/* Magenta */
.theme-base-0e .sidebar,
.theme-base-0e .sidebar-toggle:active,
.theme-base-0e #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #aa759f;
}
.theme-base-0e .container a,
.theme-base-0e .sidebar-toggle,
.theme-base-0e .related-posts li a:hover {
  color: #aa759f;
}

/* Brown */
.theme-base-0f .sidebar,
.theme-base-0f .sidebar-toggle:active,
.theme-base-0f #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #8f5536;
}
.theme-base-0f .container a,
.theme-base-0f .sidebar-toggle,
.theme-base-0f .related-posts li a:hover {
  color: #8f5536;
}


/*
 * Overlay sidebar
 *
 * Make the sidebar content overlay the viewport content instead of pushing it
 * aside when toggled.
 */

.sidebar-overlay #sidebar-checkbox:checked ~ .wrap {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.sidebar-overlay #sidebar-checkbox:checked ~ .sidebar-toggle {
  box-shadow: 0 0 0 .25rem #fff;
}
.sidebar-overlay #sidebar-checkbox:checked ~ .sidebar {
  box-shadow: .25rem 0 .5rem rgba(0,0,0,.1);
}

/* Only one tweak for a reverse layout */
.layout-reverse.sidebar-overlay #sidebar-checkbox:checked ~ .sidebar {
  box-shadow: -.25rem 0 .5rem rgba(0,0,0,.1);
}
