<!DOCTYPE html>
<html lang="en">

{% include head.html %}

{% if page.title contains "Timeline" %}
    <style>
      html, body {
        height:100%;
        width:100%;
        padding: 0px;
        margin: 0px;
      }
    </style>
{% endif %}

  <body>
    {% include sidebar.html %}
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{site.author.url}}"><img alt="@jonaprieto" class="avatar float-left mr-1" src="https://avatars3.githubusercontent.com/u/1428088?s=40&amp;v=4" height="20" width="20"></a>
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small style="text-decoration:left">{{ site.tagline }}{% if page.url == "/" %}<span class="modifications">(<span class="additions">+{{site.git.total_additions}}</span>/<span class="substractions">-{{site.git.total_subtractions}}</span>)</span>
            {% endif %}</small>
          </h3>
        </div>
      {% if page.title contains 'Timeline' %}
        {{ content }}
      {% else %}
      <div class="container content">
        {{ content }}
      </div>
      {% endif %}
      </div>
    </div>
    {% if page.toc %}
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
    {% endif %}
    {% include footer.html %}

    <!-- <script>
      (function(document) {
        var toggle   = document.querySelector('.sidebar-toggle');
        var sidebar  = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          // if(!checkbox.checked ||
          //    sidebar.contains(target) ||
          //    (target === checkbox || target === toggle)) return;
          //
          if(target === toggle)
          checkbox.checked = false;
        }, false);
      })(document);
    </script> -->

    {% if page.gallery %}
    <script src="{{site.baseurl}}/assets/galleryjs/lightgallery.js"></script>

    <script src="{{site.baseurl}}/assets/galleryjs/lg-thumbnail.min.js"></script>
    <script src="{{site.baseurl}}/assets/galleryjs/lg-fullscreen.min.js"></script>

    <script  type="text/javascript">
      $(document).ready(function() {
        $('.post img').wrap(function(){
          return "<div class='gallery' data-src='" + $( this ).attr("src") + "'></div>";
        });

        lightGallery(document.querySelector('.post'),
          { selector     : ".gallery"
          // , mode         : 'slide'
          , thumbnail    : true
          , animateThumb: false
          , closable     : true
          , counter      : true
          , enableTouch  : true
          , enableDrag   : true
          , showThumbByDefault   : false
          , thumbWidth           : 90
          , thumbMargin          : 5,
          });
      });
    </script>
    {% endif %}
  </body>
</html>
