---
layout: default
---

<div class="home">
  {% if site.github %}
  <div class="main-heading">
    <div class="main-title">
      <div class="main-title-prefix"> Latest change:</div>
      <div class="main-commit-message">
        <a href="{{site.github.repository_url}}/commit/{{site.github.build_revision}}">
          {{site.git.last_commit.message}}
        </a>
      </div>
    </div>

    <div class="main-last-date">
      Latest commit <a href="{{site.github.repository_url}}/commit/{{site.github.build_revision}}">{{site.github.build_revision | slice: -7, 7}} </a> on  {{ site.time | date_to_string  }}
    </div>
  </div>
  {% endif %}

  <div id="search-searchbar"></div>
  <br/>
  <!-- <div>{% octicon file %} Table of Content</div> -->
  <!-- <div class="posts" id="search-hits"> -->
      {{ content }}
  <!-- </div> -->

</div>
<br/>

<div class="written-by"> Written by <a href="{{ site.baseurl }}/about">Jonathan Prieto-Cubides</a> </div>