---
---

.filename
{
  float: right;
  background: black;
  padding: 4px;

  a {
    color: white;
  }
}


@import "Agda";
@import "poole";
@import "lanyon";
@import "sidebar";
@import "syntax";
@import "toc";
@import "print";
@import "gallery";

div.equation {
	text-align: center;
}
